/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* font styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

/* header part css */

header{
    background-color: blueviolet;
    height: 80vh;
}

.home{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 60px;
    width: 90%;
    margin: 0 auto;
}
.top-title h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin: 140px 0;
}
.watch-btn{
    background-color: red;
    font-size: 16px;
    border-radius: 10px;
}
.watch-btn i{
    transition: transform 2s;
}

.top-title:hover i{
    padding-right: 36px;
    transform: translateX(44px);
}
.top-banner img{
    height: 460px;
    width: 560px;
    margin-top: 80px;

}
    /* players-list-css */

main{
    width: 90%;
    margin: 30px auto;
}

.player-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    margin: 0 auto;
}
.player{
    height: 480px;
    width: 350px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 5px 5px 20px 2px gray;
}
.player-img img{
   height: 260px;
   width: 300px;
}
.player-name{
    font-size: 30px;
}
.player-info{
    color: gray;
    font-size: 18px;
}

/* footer */

footer{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 40px 0;
}
.logo img{
   height: 114px;
   width: 484px;
}
.social-site{
    padding: 20px 0;

}
.social-site i{
    color: red;
    font-size: 30px;
}

@media screen and (max-widht:448px){

 header{
     height: auto;
    
 }
.home{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}
.top-title{
    font-size: 42px;
    margin: 10px;
}
.top-banner img{
 height: 400px;
 width: 320px;
}
.player-list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 20px;
    width: 100%;
}
footer{
    width: 100%;
}
.logo img{
    height: 60px;
    width: 28px;
}

}
  

